.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .product-card {
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 35px;
    text-align: center;
    background-color: #cecece;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 5px 0;
  }

  .logoutbutton{
    margin-top: -30px;
    margin-left: 1400px;
  }